.postcardc_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 100%;
  position: relative;
}
.postcardc_image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.postcardc_infos {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 12px;
  justify-content: space-between;
}
.postcardc_content {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
